<style>
.pricing-table .card {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-border-radius: 15px;
  border-radius: 15px; 
  min-height: 500px;
  max-width: 100%;
}
  
  .pricing-table .card .card-title {
    font-size: 1rem;
    letter-spacing: .2rem;
    font-weight: 500; }
  .pricing-table .card .card-price {
    font-size: 2rem; }
    .pricing-table .card .card-price .term {
      font-size: .875rem; }
  .pricing-table .card .fa-ul li:not(:last-child) {
    margin-bottom: 1rem; }

@media (min-width: 992px) {
  .pricing-table .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3); } }
</style>

<div class="container pricing-table mb-5">
    <div class="row my-3" style="display: flex;align-items: stretch;">

      <!-- Community Edition -->
      <div class="col-lg mt-3">
        <div class="card mb-lg-0 offer-card offer-card-small" >
          <div class="card-body">
           <!-- <i class="fa fa-shield-alt icon64"></i> --> 
            
            <h4 class="card-price text-center">Community</h4>
            <h3 class="card-title grey-text text-uppercase text-center mb-3">free forever</h3>
            <hr class="my-4">
            <p class="text-center">
                Suited to try out the Management Console on your local computer or in a small factory.
<br>

            </p>

            <a href="/docs/getstarted/download/" style="position: absolute; bottom: 3rem; left: 50%; transform: translate(-50%, 0%);" class="btn btn-secondary mt-4">Download & install now</a>
          </div>
        </div>
      </div>


      <!-- Basic -->
      <div class="col-lg mt-3">
        <div class="card mb-lg-0 offer-card offer-card-small" >
          <div class="card-body">
           <!-- <i class="fa fa-shield-alt icon64"></i> --> 
            
            <h4 class="card-price text-center">Basic</h4>
            <h3 class="card-title grey-text text-uppercase text-center mb-3">monthly fee</h3>
            <hr class="my-4">
            <p class="text-center">
                Suited for small to medium sized companies.
            </p>
            <p class="text-center">
                Includes all features of the Community Edition and additionally allows to monitor and manage non-UMH building blocks (e.g., PLCs or other data sources). Limited to one factory. Payable via credit card only.
            </p>

<a class="btn btn-primary mt-4" style="position: absolute; bottom: 3rem; left: 50%; transform: translate(-50%, 0%);" data-tf-popup="QUKJtedf" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Management Console Waitlist" data-tf-transitive-search-params data-tf-medium="snippet" target="_blank" role="button" aria-label="Join the waitlist!">Join the waitlist!</a>
<script src="//embed.typeform.com/next/embed.js"></script>
          </div>
        </div>
      </div>


      <!-- Standard -->
      <div class="col-lg mt-3">
        <div class="card mb-lg-0 offer-card offer-card-small" >
          <div class="card-body">
           <!-- <i class="fa fa-shield-alt icon64"></i> --> 
            
            <h4 class="card-price text-center">Standard</h4>
            <h3 class="card-title grey-text text-uppercase text-center mb-3">monthly fee</h3>
            <hr class="my-4">
            <p class="text-center">
                Suited for medium sized companies. 
            </p>
            <p class="text-center">
                Includes all features of the Basic Edition and additionally allows to monitor and manage multiple factories and non-UMH building blocks. Includes SLAs for your IT / OT infrastructure.

            </p>

<a class="btn btn-primary mt-4" style="position: absolute; bottom: 3rem; left: 50%; transform: translate(-50%, 0%);" data-tf-popup="QUKJtedf" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Management Console Waitlist" data-tf-transitive-search-params data-tf-medium="snippet" target="_blank" role="button" aria-label="Join the waitlist!">Join the waitlist!</a>
          </div>
        </div>
      </div>


      <!-- Enterprise -->
      <div class="col-lg mt-3">
        <div class="card mb-lg-0 offer-card offer-card-small" >
          <div class="card-body">
           <!-- <i class="fa fa-shield-alt icon64"></i> --> 
            
            <h4 class="card-price text-center">Enterprise</h4>
            <h3 class="card-title grey-text text-uppercase text-center mb-3">On Request</h3>
            <hr class="my-4">
            <p class="text-center">
            Suited for medium to large sized companies. 
            </p>
            <p class="text-center">
            Includes all features of the Standard Edition, as well as enterprise-level features such as audit trails, SSO, and advanced SLAs.
            </p>

<a class="btn btn-primary mt-4" style="position: absolute; bottom: 3rem; left: 50%; transform: translate(-50%, 0%);" data-tf-popup="QUKJtedf" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Management Console Waitlist" data-tf-transitive-search-params data-tf-medium="snippet" target="_blank" role="button" aria-label="Join the waitlist!">Join the waitlist!</a>
          </div>
        </div>
      </div>




  </div>
