<div class="table-responsive-xl">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">
          <a href="#1-installation" class="text-white">1. Installation</a>
        </th>
        <th scope="col">
          <a href="#2-data-acquisition" class="text-white"
            >2. Data Acquisition</a
          >
        </th>
        <th scope="col">
          <a href="#3-data-manipulation" class="text-white"
            >3. Data Manipulation</a
          >
        </th>
        <th scope="col">
          <a href="#$-data-visualization" class="text-white"
            >4. Data Visualization</a
          >
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="align-middle">Production</th>
        <td>
          <a href="#1.1">1.1 Full installation on an edge pc (recommended)</a>
        </td>
        <td><a href="#2.1">2.1 Using shop floor data</a></td>
        <td  class="align-middle">
          <a href="#3-data-manipulation">3.1 Processing actual sensor data</a>
        </td>
        <td rowspan="4" class="align-middle">
          <a href="#4-data-visualization">4. Grafana</a>
        </td>
      </tr>
      <tr>
        <th scope="row" rowspan="3" class="align-middle">
          Development/testing
        </th>
        <td>
          <a href="#1.2.1">1.2.1 k3d installation (recommended)</a>
        </td>
        <td rowspan="3" class="align-middle">
          <a href="#2.2">2.2 Generating data with our integrated simulators</a>
        </td>
        <td rowspan="3" class="align-middle">
          <a href="#3.2">3.2 Processing simulated data</a>
        </td>
      </tr>
      <tr>
        <td><a href="#1.2.2">1.2.2 Local minikube installation</a></td>
      </tr>
      <tr>
        <td><a href="#1.2.3">1.2.3 Local virtual machine installation</a></td>
      </tr>
    </tbody>
  </table>
</div>
