{{ if eq .Params.edition "community" }}
<div class="edition-info">
    This page contains features that are only available in the UMH Community Edition, which require a free account on management.umh.app. 
    More details about the specific offerings of the Community Edition can be found 
    <a href="https://www.umh.app/umh-integrated-platform-editions-and-pricing" referrerpolicy="no-referrer" target="_blank">here</a>. 
</div>
{{ else if eq .Params.edition "enterprise" }}
<div class="edition-info">
    This page contains features that are unique to the UMH Enterprise Edition. More details about the specific offerings of the Enterprise 
    Edition can be found  <a href="https://www.umh.app/umh-integrated-platform-editions-and-pricing" referrerpolicy="no-referrer" target="_blank">here</a>. 
</div>
{{ end }}