{{ $cover := and (.HasShortcode "blocks/cover") (not .Site.Params.ui.navbar_translucent_over_cover_disable) }}
<nav class="js-navbar-scroll navbar navbar-expand navbar-dark {{ if $cover}} td-navbar-cover {{ end }}flex-column flex-md-row td-navbar">
        <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
		<span class="navbar-logo">{{ if .Site.Params.ui.navbar_logo }}{{ with resources.Get "icons/logo.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}{{ end }}</span><span class="font-weight-bold">{{ .Site.Title }}</span>
	</a>
	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0">
			{{ $p := . }}
			{{ $sections := slice "docs"}}
			{{ range $sections }}
			{{ with site.GetPage "section" . }}
			<li class="nav-item mr-2 mb-lg-0">
				{{ $active := eq .Section $.Section }}
				<a class="nav-link{{if $active }} active{{end}}" href="{{ .RelPermalink }}" >{{ .Params.menuTitle }}</a>
			</li>
			{{ end }}
			{{ end }}

			<li class="nav-item mr-2 mb-lg-0">
				<a class="nav-link" href="https://learn.umh.app" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i>Learn</a>
			</li>
			<li class="nav-item mr-2 mb-lg-0">
				<a class="nav-link" href="https://www.umh.app" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i>About us</a>
			</li>
			{{ if  .Site.Params.versions }}
			<li class="nav-item dropdown mr-4 d-none d-lg-block">
				{{ partial "navbar-version-selector.html" . }}
			</li>
			{{ end }}
			{{ if  (gt (len .Site.Home.Translations) 0) }}
			<li class="nav-item dropdown mr-4 d-none d-lg-block">
				{{ partial "navbar-lang-selector.html" . }}
			</li>
			{{ end }}
		</ul>
	</div>
	<div class="navbar-nav d-none d-lg-block">{{ partial "search-input.html" . }}</div>
</nav>
