{{$split := split .Destination "?"}}
{{$dst := delimit (first 1 $split) ""}}
{{$params := delimit (last 1 $split) ""}}

<!-- Split params into map using merge -->
{{ $paramsMap := dict }}
{{ range $key, $value := split $params "&" }}
    {{ $keyValue := split $value "=" }}
    {{ $paramsMap = merge $paramsMap (dict (first 1 $keyValue) (last 1 $keyValue)) }}
{{ end }}

<figure>
    <a onclick='toggleLightBoxOn("{{ $dst | md5 }}-lightbox")'>
        <picture>
            {{ $isJPG := eq (path.Ext $dst) ".jpg" }}
            {{ $isPNG := eq (path.Ext $dst) ".png" }}

            {{ if ($isJPG) -}}
            {{ $avifPath:= replace $dst ".jpg" ".avif" }}
            {{ $avifPathStatic:= printf "static/%s" $avifPath }}

            {{ if (fileExists $avifPathStatic) -}}
            <source srcset="{{ $avifPath | safeURL }}" type="image/avif" >
            {{- end }}

            {{ $webpPath:= replace $dst ".jpg" ".webp" }}
            {{ $webpPathStatic:= printf "static/%s" $webpPath }}

            {{ if (fileExists $webpPathStatic) -}}
            <source srcset="{{ $webpPath | safeURL }}" type="image/webp" >
            {{- end }}
            {{- end }}

            {{ if ($isPNG) -}}
            {{ $avifPath:= replace $dst ".png" ".avif" }}
            {{ $avifPathStatic:= printf "static/%s" $avifPath }}

            {{ if (fileExists $avifPathStatic) -}}
            <source srcset="{{ $avifPath | safeURL }}" type="image/avif" >
            {{- end }}

            {{ $webpPath:= replace $dst ".png" ".webp" }}
            {{ $webpPathStatic:= printf "static/%s" $webpPath }}

            {{ if (fileExists $webpPathStatic) -}}
            <source srcset="{{ $webpPath | safeURL }}" type="image/webp" >
            {{- end }}
            {{- end }}

            {{ $img := imageConfig (add "/static" ($dst | safeURL)) }}

            {{ $imgWidth := $img.Width}}
            {{ $imgHeight := $img.Height}}

            <!-- Check if $paramsMap contains width -->
            {{ if (isset $paramsMap "width") -}}
            {{ $imgWidth = delimit $paramsMap.width "" }}
            {{- end }}

            <!-- Check if $paramsMap contains height -->
            {{ if (isset $paramsMap "height") -}}
            {{ $imgHeight = delimit $paramsMap.height "" }}
            {{- end }}

            <img
                    src="{{ $dst | safeURL }}"
                    alt="{{ .Text }}"
                    loading="lazy"
                    decoding="async"
                    width="{{ $imgWidth }}"
                    height="{{ $imgHeight }}"
            />
        </picture>
    </a>
</figure>

<a href="#_" class="lightbox" id="{{ $dst | md5 }}-lightbox">
    <picture>
        {{ $isJPG := eq (path.Ext $dst) ".jpg" }}
        {{ $isPNG := eq (path.Ext $dst) ".png" }}

        {{ if ($isJPG) -}}
        {{ $avifPath:= replace $dst ".jpg" ".avif" }}
        {{ $avifPathStatic:= printf "static/%s" $avifPath }}

        {{ if (fileExists $avifPathStatic) -}}
        <source srcset="{{ $avifPath | safeURL }}" type="image/avif" >
        {{- end }}

        {{ $webpPath:= replace $dst ".jpg" ".webp" }}
        {{ $webpPathStatic:= printf "static/%s" $webpPath }}

        {{ if (fileExists $webpPathStatic) -}}
        <source srcset="{{ $webpPath | safeURL }}" type="image/webp" >
        {{- end }}
        {{- end }}

        {{ if ($isPNG) -}}
        {{ $avifPath:= replace $dst ".png" ".avif" }}
        {{ $avifPathStatic:= printf "static/%s" $avifPath }}

        {{ if (fileExists $avifPathStatic) -}}
        <source srcset="{{ $avifPath | safeURL }}" type="image/avif" >
        {{- end }}

        {{ $webpPath:= replace $dst ".png" ".webp" }}
        {{ $webpPathStatic:= printf "static/%s" $webpPath }}

        {{ if (fileExists $webpPathStatic) -}}
        <source srcset="{{ $webpPath | safeURL }}" type="image/webp" >
        {{- end }}
        {{- end }}

        {{ $img := imageConfig (add "/static" ($dst | safeURL)) }}

        <img
                src="{{ $dst | safeURL }}"
                alt="{{ .Text }}"
                loading="lazy"
                decoding="async"
        />
    </picture>
</a>

<script>
    function toggleLightBoxOn(a){
        console.log(a);
        document.getElementById(a).style.display = "block";
    }

    // Add event listener to close lightbox
    document.addEventListener('click', function (event) {
        if (!event.target.matches('.lightbox')) return;
        event.preventDefault();
        document.getElementById(event.target.id).style.display = "none";
    }, false);

    // Escape key closes lightbox
    document.addEventListener('keydown', function (event) {
        if (event.key === 'Escape') {
            document.querySelectorAll('.lightbox').forEach(function (el) {
                el.style.display = 'none';
            });
        }
    });

    // Clicking on the image closes the lightbox
    document.addEventListener('click', function (event) {
        if (!event.target.matches('.lightbox img')) return;
        event.preventDefault();
        document.getElementById(event.target.parentNode.id).style.display = "none";
    }, false);
</script>
