{{ with .Site.Params.algolia_docsearch }}
<!-- scripts for algolia docsearch -->
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">docsearch({
  container: '#docsearch',
  appId: '5DOL5JS9IZ',
  apiKey: '36ef5de0b604e7ece6b35d9ac8e813f3',
  indexName: 'netlify_773ed003-1da5-4e74-b379-d11b9d82a074_main_all',
    debug: true,
  });</script>
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script> -->
<!-- <script type="text/javascript"> -->
<!--   algoliasearchNetlify({ -->
<!--     appId: '5DOL5JS9IZ', -->
<!--     apiKey: '36ef5de0b604e7ece6b35d9ac8e813f3', -->
<!--     siteId: '773ed003-1da5-4e74-b379-d11b9d82a074', -->
<!--     branch: 'main', -->
<!--     selector: '#docsearch', -->
<!--     detached: true, -->
<!--       }); -->
<!-- </script> -->
{{ end }}
<!-- Start of umhhelp Zendesk Widget script -->
<!-- <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=81ffd9d8-ad1c-42ec-bac6-dca69e12989d"> </script> -->
<!-- End of umhhelp Zendesk Widget script -->
